
/* EXEMPLE DE CREATION DE CARTE FLIP */ 
/* --------------------------------- */


body {
	perspective:1000px;
	/* C'est le CONTENEUR de la carte, et non la carte, qui contient l'élément de perspective pour donner l'apparence 3D */
}

.card {
	transition:transform 1s; 
	transform-style:preserve-3d;
	position:relative;

	/* SHAPE */
	height:400px;
	width:200px;
	margin:auto;
	border-radius:10px;

	/* BACKGROUND */
	background:linear-gradient(to top right, #4568dc, #b06ab3);
	box-shadow:5px 5px 12px -5px #000000;
	
	/* FONT */
	display:flex;
	justify-content:center;
	align-items:center;
	color:#FFFFFF;
	font-size:25px;
	font-family:Arial,sans-serif;
}

.card:after {
	content:"VERSO";
	transform:rotateY(180deg);
	backface-visibility:hidden;
	position:absolute;

	/* SHAPE */
	width:100%;
	height:100%;
	border-radius:10px;

	/* BACKGROUND */
	background-color:#FFFFFF;

	/* FONT */
	display:flex;
	justify-content:center;
	align-items:center;
	color:#000000;
	font-size:25px;
	font-family:Arial,sans-serif;
}

.card:hover {
	transform:rotateY(180deg);
	transition:transform 1s;
}

/* Si un conteneur contient la carte, utilisez .card-conteneur > .card 
.card {
	position:relative;
}
