
// BASE

@use "./../abstract/_variables.scss" as v;


* {
	margin:0;
	padding:0;
	font-size:100%; // Permet d'utiliser l'unité rem / permet de scaler la police par rapport à celle del a taille du navigateur de l'user
	font:inherit;
	vertical-align:baseline;
}


body {
	width:95%;
	margin:auto;
	background-color:v.$color-bg;
	box-sizing:border-box;
}

a {
	color:inherit;
	text-decoration:none;
}

img {
	max-width:100%;
	height:auto;
}

ol, ul {
	list-style:none;
}
