
/* FORMULAIRE STYLE */
/* ---------------- */

form {
	width:60%;
	margin:auto;
	background:linear-gradient(to top right, #654ea3, #eaafc8);
	box-shadow:5px 5px 12px -5px grey;
	padding-top:20px;

	font-family:Arial,sans-serif;
	font-size:15px;
	color:white;
}

fieldset {
	margin:20px;
	border-radius:10px;
	box-shadow:5px 5px 12px -5px black;
}

legend {
	font-size:15px;
	color:black;
}

label {
	padding:0 0 4px 5px;
}

input, textarea {
	transition:background-color 0.2s;

	/* SHAPE - FONT */
	font-size:15px;
	font-family:Arial,sans-serif;
	background-color:#F1F1EF;
	border-radius:25px;
	padding:5px 10px 5px 10px;
	margin:0 0 10px 5px;
}

input:focus, textarea:focus{
	color:black;
	border:3px solid #6DD5FA;
}

input:not(:focus):invalid {
	transition:background-color 0.5s;

	background-color:#b20a37;
	color:white;
}

/* -- AUTRES -- */
/* ------------ */

.field-1 {
	display:flex;
	flex-direction:column;
}


.field-2 {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.field-2 div{
	display:flex;
	flex-direction:row;
	align-items:center;
}

.field-3 {
	display:flex;
	flex-direction:column;
}

.field-6 {
	display:flex;
	flex-direction:column;
}

.cta {
	width:100px;
	height:30px;
	margin:auto;
	display:flex;
	justify-content:center;
}
