
/* EXEMPLE DE BOUTONS ANIMES */ 
/* --------------------------------- */

* {
	margin:0;
	padding:0;
}

body {
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.button {
	cursor:pointer;

	/* FONT */
	/* ---- */
	font-family:"Arial", sans-serif;
	font-size:14px;
	color:white;
	font-weight:600;

	/* SHAPE */
	/* ----- */
	width:150px;
	height:50px;
	background:linear-gradient(to top right, #4568dc, #b06ab3);
	border-radius:25px;
	box-shadow:5px 5px 12px -5px black;

	/* STRUCTURE */
	/* --------- */
	display:flex;
	justify-content:center;
	align-items:center;
	margin:20px;
}

/* BOUTON 1 */
/* -------- */
.button--1 {
	transition:transform 0.5s;
}

.button--1:hover {
	transform:scale(1.2);
}


/* BOUTON 2 */
/* -------- */
.button--2 {
	background:white;
	color:#b06ab3;
	border:3px solid #b06ab3;
	transition: transform 0.4s ease-out, background 0.25s 0.15s ease-in;
}

.button--2:hover {
	background:#b06ab3;
	color:white;
	transform:scale(1.2);
}


/* BOUTON 3 */
/* -------- */
.button--3 {
	overflow:hidden;
	transition: transform 0.4s 0.1s ease-out;

	margin-bottom:35px;
}

.button__texte--3 {
	position:relative;
	display:block;
	transition:transform 0.4s ease-out;
}

.button__texte--3:after {
	position:absolute;
	top:200px;
	right:0;
	bottom:0;
	left:0;
	content:"COUCOU";
	text-align:center;
	transition:transform 0.5s ease-in-out;
}

.button--3:hover {
	transform:scale(1.1);
}
.button--3:hover > .button__texte--3{
	transform:translateY(-200px);
}


/* BOUTON 4 */
/* -------- */

.button--4 {
	transition: transform 0.3s ease-in-out;

	margin:5px;
}

.conteneur--4:hover .button--4 {
	transform:rotate(720deg) scale(1.1);
}


/* BOUTON 5 */
/* -------- */
.conteneur--5 {
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
}

.button--5 {
	transition:transform 290ms ease-in;
}

.carre {
	transform:scale(0) rotate(90deg);
	transition:transform 340ms ease-in-out;
	overflow:hidden;

	/* STRUCTURE */
	margin:20px 20px 10px 20px;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100px;
	height:100px;

	/* PAINT */
	background:#76D7A3;
	border-radius:5px;
	box-shadow:5px 5px 12px -5px black;
}

.carre__texte--5 {
	display:block;
	transition:transform 500ms ease-out, color 200ms ease-out 200ms;
	transform:translateY(250%);


	/* FONT */
	font-family:"Arial", sans-serif;
	font-size:14px;
	font-weight:600;
	color:#76D7A3;
}

.button--5:hover {
	transform:scale(0.9);
}

.button--5:hover + .carre {
	transform:scale(1) rotate(0deg);

}

.button--5:hover + .carre .carre__texte--5 {
	transform:translateY(0);
	color:white;
}

/* BOUTON 6 */
/* -------- */
.button--6 {
	transition:transform 1000ms ease-in 200ms;
}

.button--6:hover {
	transform:skew(10deg, 10deg);
}

/* BOUTON 7 */
/* -------- */
.button--7 {
	transition:transform 450ms;
	margin:5px;
}

.conteneur--7:hover .button--7 {
	transform:perspective(120px) translate3D(100%, -10%, 50px);
}


/* BOUTON 8 */
/* -------- */
.button--8 {
	transform:perspective(80px) rotateX(75deg);
	transition:transform 350ms ease-in-out 50ms;
}

.button--8:hover {
	transform:rotateX(0deg) translateY(-10px);
}


/* BOUTON 9 */
/* -------- */
.conteneur--9 {
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
}


.barre {
	position:relative;

	/* LAYOUT */
	width:250px;
	height:15px;

	/* PAINT */
	background:white;
	border:2px solid black;
	padding:5px;
}

.barre:before {
	content:"";
	transform:scaleX(0);
	transition:transform 2000ms cubic-bezier(0.37,0, 0.07,1);
	transform-origin:left;

	/* LAYOUT */
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;

	/* PAINT */
	background:#76D7A3;
	border:5px solid white;
}

.button--9:hover + .barre:before {
	transform:scaleX(1);
}
